@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBMPlexSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'IBM Plex Sans Medium';
  src: url('./fonts/IBMPlexSans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./fonts/IBMPlexMono-Regular.otf') format('opentype');
}

html {
  font-size: 14px;
}

body {
  font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;
}

h2 {
  font-size: 1.7rem;
  margin: 0px;
  transition: color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

p {
  font-size: 1rem;
  line-height: 24px;
  margin: 0px;
}

input[type='checkbox'] {
  margin-right: 6px;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

img {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.8rem;
  font-style: italic;
  color: #ff8e65;
}

#container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

aside {
  position: relative;
  width: 15vw;
  border-radius: 14px;
  box-shadow: none;
  transition: box-shadow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: box-shadow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

aside img {
  margin-top: 30px;
  width: 100%;
}

aside h1 {
  font-family: 'IBM Plex Sans Medium', 'Helvetica', sans-serif;
  text-align: center;
}

main {
  display: flex;
  scrollbar-width: thin;
  overflow: auto;
}

article {
  margin-bottom: 10px;
}

article h1 {
  display: none;
}

article h2 {
  font-size: 1.4rem;
}

article p {
  margin-bottom: 18px;
  line-height: 28px;
}

article li {
  margin-bottom: 4px;
  line-height: 22px;
}

article a {
  text-align: center;
  position: relative;
}

article a:before {
  visibility: hidden;
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: top;
  -webkit-transform-origin: top;
}

article hr {
  border-top: 1px solid #cacaca;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin-bottom: 18px;
}

article img,
video {
  border: 1px solid #454545;
  border-radius: 8px;
  transition: box-shadow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: box-shadow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.story-card {
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 14px;
  padding: 10px;
  margin-right: 2px;
}

.tags-list {
  margin: 4px 0px;
  font-size: 0.9rem;
}

.tag {
  font-family: 'IBM Plex Mono', monospace;
  margin: 4px 6px 4px 0px;
}

.story-card p {
  margin-bottom: 8px;
}

.story-card img {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 8px;
  transition: height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.story-title {
  margin-bottom: 30px;
  padding: 10px 0px;
  border-bottom: 1px solid #cacaca;
}

.unset-a-defaults {
  color: inherit;
  text-decoration: none;
}

.action-button {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button.internal-link {
  padding: 0px 0px 4px 0px;
  border: none;
  background-color: transparent;
}

.internal-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  position: relative;
  padding-bottom: 4px;
}

.internal-link:before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: left;
  -webkit-transform-origin: left;
}

.flash {
  animation: flash 1.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation: flash 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.fade-in {
  opacity: 1;
  animation: fade-in 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation: fade-in 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation: fade-out 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation: fade-out 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.scale-down {
  transform: scale(0.9);
  animation: scale-down 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation: scale-down 1s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scale-down {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

@-webkit-keyframes scale-down {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}

.scale-back {
  transform: scale(1);
  animation: scale-back 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation: scale-back 1s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes scale-back {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes scale-back {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.scroll-right-hint {
  pointer-events: none;
  position: absolute;
  bottom: 50px;
  right: 100px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #aec4ff;
  opacity: 0;
  animation: scroll-right-hint 3s cubic-bezier(0.23, 1, 0.32, 1);
  animation-delay: 2s;
  animation-iteration-count: 3;
  -webkit-animation: scroll-right-hint 3s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 3;
}

@keyframes scroll-right-hint {
  0% {
    right: 100px;
    width: 30px;
    opacity: 0;
  }
  20% {
    right: 100px;
    width: 140px;
    opacity: 0.6;
  }
  40% {
    right: 210px;
    width: 30px;
    opacity: 0.6;
  }
  60% {
    right: 210px;
    width: 30px;
    opacity: 0;
  }
  100% {
    right: 210px;
    width: 30px;
    opacity: 0;
  }
}

@-webkit-keyframes scroll-right-hint {
  0% {
    right: 100px;
    width: 30px;
    opacity: 0;
  }
  20% {
    right: 100px;
    width: 140px;
    opacity: 0.6;
  }
  40% {
    right: 210px;
    width: 30px;
    opacity: 0.6;
  }
  60% {
    right: 210px;
    width: 30px;
    opacity: 0;
  }
  100% {
    right: 210px;
    width: 30px;
    opacity: 0;
  }
}

@media (hover: hover) {
  #filter-menu-opener:hover button {
    margin-left: 15px;
  }

  #filter-menu-opener:hover #filter-menu {
    display: block;
    position: absolute;
    top: 0px;
    padding: 35px 10px 10px 10px;
    border-radius: 14px;
  }

  .story-card:hover .tag {
    text-decoration: underline;
  }

  .story-card:hover img {
    height: 180px;
  }

  .internal-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
  }

  article a:hover:before {
    visibility: visible;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* desktop-ish */
@media only screen and (min-width: 1000px) {
  #container {
    width: 80vw;
    margin: 30px auto;
  }

  aside {
    display: block;
    min-height: 100%;
    padding: 0px 2vw;
  }

  aside h1 {
    margin: 14px 0px;
  }

  aside p {
    margin: 0px 5px;
  }

  main {
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 58vw;
  }

  nav {
    position: sticky;
    z-index: 3;
    height: 30px;
    top: 0px;
    padding: 11px 11px 0px;
  }

  nav .nav-links {
    float: right;
  }

  .tag-clickable {
    cursor: pointer;
  }

  .action-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .action-button {
    width: 38px;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .action-button:hover {
    width: 150px;
  }

  #filter-menu-opener {
    display: block;
    width: 100px;
  }

  #filter-menu-opener button {
    z-index: 1;
    transition: margin-left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: margin-left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  #filter-menu {
    display: none;
  }

  .story-title {
    position: sticky;
    z-index: 2;
    top: 29px;
    margin-left: 10px;
  }

  article {
    margin-left: 10px;
  }

  article img,
  video {
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }
}

/* mobile-ish */
@media only screen and (max-width: 999px) {
  #container {
    width: 90vw;
    margin: 0px auto;
  }

  aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: 10px 0px;
    padding: 10px 0px;
  }

  aside img {
    padding: 10px;
    margin: 0px 0px 0px 10px;
    width: 130px;
    height: 80px;
  }

  aside h1 {
    padding: 10px;
    margin: 5px 10px;
    font-size: 1.7rem;
  }

  aside p {
    margin: 0px 20px 10px;
  }

  main {
    flex-direction: row;
    scroll-snap-type: x mandatory;
    padding: 0px 12px;
    border-radius: 14px;
  }

  nav {
    margin-right: 2px;
    scroll-snap-align: start;
  }

  nav .nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 15px;
  }

  .tag-clickable {
    pointer-events: none;
  }

  .action-buttons {
    text-align: center;
    margin: 10px 0px 60px;
  }

  .story-card {
    scroll-snap-align: start;
    padding-left: 18px;
    min-width: 275px;
  }

  article img,
  video {
    max-width: 100%;
  }

  #mobile-story-reader {
    z-index: 2;
    position: fixed;
    overflow-y: scroll;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    height: calc(98vh - 20px);
    width: 80vw;
    padding: 0px 30px 20px;
    border-radius: 14px 14px 0px 0px;
    animation: mobile-story-reader-slide-in 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-animation: mobile-story-reader-slide-in 0.5s
      cubic-bezier(0.23, 1, 0.32, 1);
  }

  @keyframes mobile-story-reader-slide-in {
    0% {
      top: 100vh;
    }
    50% {
      top: 100vh;
    }
    100% {
      top: 2vh;
    }
  }

  @-webkit-keyframes mobile-story-reader-slide-in {
    from {
      top: 100vh;
    }
    to {
      top: 2vh;
    }
  }

  .mobile-story-reader--slide-out {
    animation: mobile-story-reader--slide-out 0.5s
      cubic-bezier(0.23, 1, 0.32, 1) !important;
    -webkit-animation: mobile-story-reader--slide-out 0.5s
      cubic-bezier(0.23, 1, 0.32, 1) !important;
  }

  @keyframes mobile-story-reader--slide-out {
    from {
      top: 2vh;
    }
    to {
      top: 100vh;
    }
  }

  @-webkit-keyframes mobile-story-reader--slide-out {
    from {
      top: 2vh;
    }
    to {
      top: 100vh;
    }
  }

  .mobile-story-reader-close-button {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 30px 0px 10px;
  }

  #background-cover {
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
  }
}
